img.headshot {
    width: 25%;
    border-radius: 50%;
    padding: 0px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4.name {
    text-align: center;
}

h5.quote {
    text-align: center;
}

hr.top_nav_divider {
    margin-bottom: 20px;
}

hr.bottom_nav_divider {
    margin-top: 10px;
}

div.navbar {
    text-align: center;
}

p.summary {
    text-align: justify;
}

/* Footer */
ul.contacts {
    list-style-type: none;
}

ul.contacts a:hover {
    

}