img.headshot {
        display: block;
        margin-left: "justify";
        margin-right: "justify";
        width: 300px;
        height: 300px;
}



.puppy_pics {
	width: 500px;
}
/* for Class


#puppy2 {
	width: 75px;

}

/* One particular ID for specificity
