body {
    font-family: Tahoma;
    background-image: url("images/backgrounds/debut_light.png");
    background-repeat: repeat;
}

#container {
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}

img.headshot {

        margin-left: "justify";
        margin-right: "justify";
        width: 20%;
        border-radius: 50%;
        padding-right: 10px;
        padding-bottom: 10px;
        display: block;
}


.header {
        color: inherit;
        text-decoration: none;
}


hr {
    background: #fff no-repeat scroll center;
    margin-left: 0px;
    margin-right: 0px;
    width: 1000px;
    height: 1px;
}


.navbar {
        list-style-type: none;
        padding: 0;
        margin: 0;
}

p {
    font-size: 14px;
}

.summary {
        padding: 10;
        margin: 10;
        text-align: justify;
}

footer {
        color: inherit;
        text-decoration: none;

}

.unstyled {
        font-size: 14px;
        font-size-adjust: 0.5;
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: inherit;
        text-decoration: none;
}
