#wrap {
	width: 900px;
	margin: 0 auto;
}

img.headshot {
							display: block
							margin-left: "justify";
	 						margin-right: "justify";
							width: 300px;
							height: 300px;
							}

h3.header {
					display: block
					font-weight: bold;
					font-family: Helvetica;
					color: DarkSlateBlue;
					align: "justify";
					}


p.project_name {
					display: block;
					font-weight: normal;
					text-decoration: underline;
					font-family: Helvetica;
					color: black;
					align: "justify";
					}

p.description {
					display: block;
					font-weight: normal;
					text-decoration: underline;
					font-family: Helvetica;
					color: black;
					align: "justify";
							}

div.container {
					    border-style: solid;
					    border-width: 1px;
							}
